@{
    Layout = null;
    @model StudentInterestSystem.Models.AccountViewModel

}
<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - StudentInterestSystem</title>

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/StudentInterestSystem.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        

        .login-form {
            width: 300px;
            margin-left:35%;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">StudentInterestSystem</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" style="margin-left:90%;">
                            <a class="nav-link text-dark"  asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3" style="align-self:center;margin-top:5%">
            <h2 class="text-center mb-4">Login</h2>
            <div class="login-form">
                <form asp-action="Verify" asp-controller="Account" method="post" class="mt-5">
                    <div class="mb-3">
                        <label for="username" class="form-label">Email</label>
                        <input asp-for="Username" type="text" class="form-control" id="username" name="username" required>
                        <br /><span asp-validation-for="Username" class="field-error"></span>

                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input asp-for="Password" type="password" class="form-control" id="password" name="password" required>
                        <br /><span asp-validation-for="Username" class="field-error"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" style="margin-left:40%;">Login</button>
                </form>
            </div>
        </main>
        <br />
        <br />
        <br />
    </div>
    
</body>

